:root {
    --primary-color: #ff7833;
    --secund-color: #313338;
    --third-color: #e7e7e7;
    --background-color: #444856;
}

body {
    display: flex;
    margin: 0;
    color: var(--third-color);
    background-color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    font-size: 62.5%;
}

.main-header {
    flex: 26rem;
    background-color: var(--secund-color);
}

.main {
    background-color: var(--background-color);
}

a {
    color: inherit;
}